.group:hover .option-btn,
.group:hover .share-btn {
    transform: translateY(0);
    opacity: 1;
}
.option-btn,
.share-btn {
    transform: translateY(-10px);
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
}
.option-btn-container::before,
.share-btn-container::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.3s ease, height 0.3s ease;
    z-index: -1;
}
.option-btn-container:hover::before,
.share-btn-container:hover::before {
    width: 2rem;
    height: 2rem;
}

.dropdown-menu{
    z-index: 3;
}
